<!-- Nội dung bài học -->
<section class="content">
  <h1>Quản lý sản phẩm</h1>
  <h4>Có 4 thao tác chính</h4>
  <!-- Phần hướng dẫn chung -->
  <div class="login-guide">
    <!-- Xem thông tin sản phẩm -->
    <h3> Xem thông tin sản phẩm </h3>
      <h5>Bước 1: </h5>
      <h5>Bước 2: </h5>
      <h5>Bước 3: </h5>
    <!-- Thêm sản phẩm -->
    <h3> Thêm sản phẩm </h3>
      <h5>Bước 1: </h5>
      <h5>Bước 2: </h5>
      <h5>Bước 3: </h5>
    <!-- Chỉnh sửa sản phẩm -->
    <h3> Chỉnh sửa sản phẩm </h3>
      <h5>Bước 1: </h5>
      <h5>Bước 2: </h5>
      <h5>Bước 3: </h5>
    <!-- Xóa sản phẩm -->
    <h3> Xóa sản phẩm </h3>
      <h5>Bước 1: </h5>
      <h5>Bước 2: </h5>
      <h5>Bước 3: </h5>  
    <!-- Chú thích thêm về các phương thức -->
  </div>
</section>