<!-- Nội dung bài học -->
<section class="content">
  <h1>Đăng nhập</h1>
  <h4>Có 3 cách thức đăng nhập</h4>
  <!-- Phần hướng dẫn chung -->
  <div class="login-guide">
    <!-- Đăng nhập với Google -->
    <h3> Đăng nhập với Google </h3>
      <h5>Bước 1: </h5>
      <h5>Bước 2: </h5>
      <h5>Bước 3: </h5>
    <!-- Đăng nhập với Facebook -->
    <h3> Đăng nhập với Facebook </h3>
      <h5>Bước 1: </h5>
      <h5>Bước 2: </h5>
      <h5>Bước 3: </h5>
    <!-- Đăng nhập với SĐT -->
    <h3> Đăng nhập với SĐT </h3>
      <h5>Bước 1: </h5>
      <h5>Bước 2: </h5>
      <h5>Bước 3: </h5>
    <!-- Chú thích thêm về các phương thức -->
  </div>
</section>