<!-- Nội dung bài học -->
<section class="content">
  <h1>Đăng ký</h1>
  <h4>Có 3 cách thức đăng ký</h4>
  <!-- Phần hướng dẫn chung -->
  <div class="login-guide">
    <!-- Đăng ký với Google -->
    <h3> Đăng ký với Google </h3>
      <h5>Bước 1: </h5>
      <h5>Bước 2: </h5>
      <h5>Bước 3: </h5>
    <!-- Đăng ký với Facebook -->
    <h3> Đăng ký với Facebook </h3>
      <h5>Bước 1: </h5>
      <h5>Bước 2: </h5>
      <h5>Bước 3: </h5>
    <!-- Đăng ký với SĐT -->
    <h3> Đăng ký với SĐT </h3>
      <h5>Bước 1: </h5>
      <h5>Bước 2: </h5>
      <h5>Bước 3: </h5>
    <!-- Chú thích thêm về các phương thức -->
  </div>
</section>