<!-- Main content with Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:250px" id="mySidebar">
    <div class="w3-container w3-display-container w3-padding-16">
      <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
      <a href="http://localhost:5000" class="w3-wide" style="font-size: 25px;font-weight: 1000;font-family: Fredoka ;color: teal;"><b>SMART STORE</b></a>
    </div>
    
    <div class="w3-padding-32 w3-large w3-text-black" style="font-weight:normal">
      <div class="w3-container w3-padding-12">
      <h4 class="w3-wide" style="font-family: roboto;"><b>Web Tutorial</b></h4>
      </div>
      <a href="/" class="w3-bar-item w3-button">Giới thiệu</a>
      <a href="/sign-in" class="w3-bar-item w3-button">Đăng nhập</a>
      <a href="/sign-up" class="w3-bar-item w3-button">Đăng ký</a>
      <a href="/manage-product" class="w3-bar-item w3-button">Quản lý sản phẩm</a>
      <a href="/manage-warehouse" class="w3-bar-item w3-button">Quản lý kho</a>
      <a href="/manage-order" class="w3-bar-item w3-button">Quản lý đơn hàng</a>
      <a href="/roles" class="w3-bar-item w3-button">Quản lý quyền nhân viên</a>
      <a href="/manage-account" class="w3-bar-item w3-button">Quản lý tài khoản</a>
    </div>
    <a href="/support" class="w3-bar-item w3-button w3-padding">Support</a> 
  </nav>
  